.blog-artic p{
			
	font-size: 20px;
	color: #333333;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 16px;
	overflow: hidden;
	white-space: nowrap;  
    text-overflow: ellipsis;
}
.blog-artic span{
	font-size:16px;
	color: #5A5A5A;
	margin-bottom: 16px;
}
.card{
	border: 1px solid white;
	background: white;
	height: 88px;
	width: 336px;
}
.typer{
	margin-left: 16px;
	
}
.date{
	margin-left: 100px;
	display: inline-block;
}
.date:before{
	content: "";
	padding: 1px 9px;
	margin: 1px 9px;
	background:url(../img/time.png) no-repeat;
}
#pps{
	width: 336px;
	height: 232px;
	margin-top: 20px;
	display: block;
}